@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div style="width:100%;text-align:center;">
        <div style="width:50%;background-color:#00ffff;height:50px;line-height:50px;float:left;">1</div>
        <div style="width:50%;background-color:#00ff90;height:50px;line-height:50px;float:left;">2</div>
        <div style="width:10%;background-color:#808080;height:50px;line-height:50px;float:left;">1</div>
        <div style="width:40%;background-color:#ffd800;height:50px;line-height:50px;float:left;">2</div>
        <div style="width:50%;background-color:#0094ff;height:50px;line-height:50px;float:left;">3</div>
        <div style="width:10%;background-color:#808080;height:50px;line-height:50px;float:left;">1</div>
        <div style="width:40%;background-color:#ffd800;height:50px;line-height:50px;float:left;">2</div>
        <div style="width:50%;background-color:#0094ff;height:50px;line-height:50px;float:left;">3</div>
        <div style="width:10%;background-color:#808080;height:50px;line-height:50px;float:left;">1</div>
        <div style="width:40%;background-color:#ffd800;height:50px;line-height:50px;float:left;">2</div>
        <div style="width:50%;background-color:#0094ff;height:50px;line-height:50px;float:left;">3</div>
    </div>
</body>
</html>
